body {
    text-align: center;
    margin:0;
    padding:0;
}

.viewer {
    display: flex;
    width:100%;
    box-sizing: border-box;
    max-height: 70vh;
    height:60px;
    border:2px solid purple;
}

.info {

}

.slideDiv {

}
.slide {
    box-sizing: border-box;
    min-width:200px;
    max-width:100%;
    max-height:60vh;
    min-height:60vh;
    box-shadow: 4px 4px 24px rgb(49, 49, 49);
    border-radius:6px;
    user-select: none;
    cursor: pointer;
}

.arrow {
    text-align: left;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    flex: 1; /* The child won't grow or shrink */
    width: 100px; /* Set your desired fixed width */
}

.arrow .arrowWrapper {
    display:inline-block;
    width:100%;
    height:80px;
    position: relative;
    top:30vh;
}
.arrowWrapper img {
    padding-top:10px;
    width:60px;
}

.arrowWrapper .arrowInner {
    background-color:rgba(0,0,0,.1);
    width:70px;
    height:80px;
    opacity:.5;
}

.rightArrow .arrowWrapper {
    text-align: right;
}

.rightArrow .arrowWrapper .arrowInner {
   display: inline-block;
   border-radius:10px 0 0 10px;
}

.leftArrow .arrowWrapper .arrowInner {
    border-radius:0px 10px 10px 0px;
 }

 .arrow:hover .arrowWrapper .arrowInner {
    background-color:black;
    opacity: 1;
 }

 .arrow:hover {

 }
 
 .counter {
    padding:10px;
    width:100%;
    box-sizing: border-box;
    padding-bottom:14px;
 }


.navigatorWrapper {
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y:hidden;
    padding-bottom:0px;
    cursor: pointer;
    height:90vh;
    vertical-align: top;
    box-sizing:border-box;
}
.paintingNavigator {
    width:max-content;
    padding-top:168px;
    height: 100%;
}

.mobileWrapper {
    overflow-x:hidden;
    overflow-y:auto;
    /* border:8px solid orange; */
    height:100vh;
    width:100vw;
    box-sizing: border-box;

}

.mobileNavigator {
    width:100%;
    left:0;
    box-sizing: border-box;
    padding-top: 10px;
    /* border:4px solid green; */
}

.mobileNavigator2 {
   
}

.slideNav {
    display: inline-block;
    float:left;
    margin-top:0;
    margin-bottom:0;
    margin-left:88px;
    margin-right:88px;
    box-shadow:0 0 24px rgba(0,0,0,.5);
    border-radius:6px;
    vertical-align: top;
    box-sizing:border-box;
    max-height:60vh;
    /* border:4px solid yellow; */
}

.slideNav:hover {
    box-shadow:0 0 24px white;
}

.mobileSlideNav {
    
}

.slideNav img {
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    max-height: 60vh;
    min-height:60vh;
}

.mobileSlideNav img {
    box-sizing: border-box;
    max-width: 84%;
    width:84%;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.slideInfo {
    margin-top:12px;
    opacity:0;
}

.slideInfoMobile {
    opacity:1;
    min-height:58px;
    padding:10px;
    padding-left:32px;
    padding-top:0;
    padding-right:34px;
}

.slideTitle {
    display:inline-block;
    float:left;
    font-weight: bold;
    max-width: 35%;
    text-align: left;
}

.slideDate {
    display:inline-block;
    float:right;
    font-weight:300;
    color:rgba(0,0,0,.5);
    white-space: nowrap;
}

.slideSize {
    white-space: nowrap;
    margin-right:4px;
    padding-right:4px;
}

.soldMarker {
    background-color:red;
    float:right;
    width:15px;
    height:15px;
    display:inline-block;
    margin-left:6px;
    border-radius:50%;
}

.slideNav:hover .slideInfo {
   opacity:1;
}

.largeDSWrapper {
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgb(92, 92, 92);
    box-sizing: border-box;
    display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
    z-index: 600;
    margin:0;
    padding:0;
}

.largeDS {
    max-width: 100%;
    max-height:100%;
    box-sizing: border-box;
    position: relative;
    border-radius:4px;
    box-shadow: 4px 4px 24px black;
}


.navigatorWrapper::-webkit-scrollbar {
    height: 35px;
    cursor: pointer;
    user-select: none;
    background-color: none;
    user-select: none;
    cursor: pointer;
}

.navigatorWrapper::-webkit-scrollbar-track {
   background-color: rgb(67, 67, 67);
   border:2px solid rgb(46, 46, 46);
}

.navigatorWrapper::-webkit-scrollbar-thumb {
    background-color: rgb(230, 230, 230);
    border-radius: 14px;
    border:2px solid rgb(75, 75, 75);
    user-select: none;
    cursor: pointer;
    box-shadow:2px 2px 20px black;
    min-width:100px;
}

.navigatorWrapper::-webkit-scrollbar-thumb:hover {
    background-color: white;
    border:2px solid rgb(197, 197, 197);
    border-radius: 14px;
    cursor: pointer;
}

.mobileWrapper::-webkit-scrollbar {
    display:none;
}

.logoWrapper {
    box-sizing: border-box;
    width:100%;
    max-width: 100vw;
    text-align: left;
    height:0;
    position: absolute;
    top:0;
    z-index: 300;
    cursor: pointer;
}



.logo {
    width: 260px;
    font-size:20px;
    font-weight: 700;
    color:white;
    padding:8px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    display:inline-block;
    padding:18px;
    padding-bottom:4px;
    border-radius: 0 0 10px 0px;
    background-color: rgb(50,50,50);
    box-shadow: 0 0 18px rgba(0,0,0,.4);
    min-width:320px;
    border-top:4px solid black;
    display:flex;
    position: relative;
    /* border:1px solid green; */
}

.mobileLogo {
    width:100%;
    box-sizing: border-box;
    max-width: 100vw;
    border-radius: 0;
}

/* .logo:hover {
    background-color: black;
    box-shadow: 0 0 24px black;
} */

.artist {
    display: flex;
    line-height: 24px;
    position:relative;
    top:8px;
}

.artistSpan {
    padding-bottom:8px;
    margin-bottom:4px;
    padding-right:10px;
}
.filtersIcon {
    box-sizing: border-box;
    padding:6px;
    width:50px;
    height:50px;
    display: inline-block;
    position: absolute;
    right:10px;
    text-align: center;
    top: 10px;
    margin-left:4px;
}
.filtersIcon:hover {
    background-color:rgba(255,255,255,.3);
}

.filtersIcon:active {
    background-color: red;
}
.burger {
    width:50px;
    height:50px;
    display: inline-block;
    margin-right:4px;
    position: relative;
    text-align: center;
    top: -6px;
}
.burger:hover {
    background-color:rgba(255,255,255,.3);
}
.burger:active {
    background-color: red;
}
.burger img {
    width:40px;
    height:40px;
    margin-top:4px;

}

.menuWrapper {
    position: relative;
    height:0px;
    z-index: 4800;
}
.menu {
    display:inline-block;
    text-align: left;
    background-color: white;
    border:none;
    border-radius:0 0px 8px 8px;
    box-shadow: 0 0 24px black;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.menu ul {
    border:none;
    list-style: none;
    padding:0;
    margin:0;
    user-select: none;
    cursor: pointer;
    width:330px;
    padding-bottom:8px;
}

.menu ul li {
    font-size: 18px;
    padding-left:0;
    text-transform: uppercase;
    padding-top:20px;
    padding-bottom:14px;
    font-weight: bold;
    padding-left:40px;
    padding-right:40px;
    cursor: pointer;
    user-select: none;
}

.menu ul li:hover {
    background-color:black;
    color:white;
}

.logoOn {
    background-color:black;
    box-shadow: 0 0 24px black;
}



#admin_login {
    position: fixed;
    bottom: 0;
    width:120px;
    height:40px;
    background-color:rgb(65, 65, 65);
    color: white;
    border-radius: 0 8px 0 0;
    line-height: 40px;
}

#admin_login:hover {
    background-color:black;
}

.hidden {
    display:none;
}

.categoryBoxes {
    display: flex;
    float:right;
    flex-wrap: wrap;
    padding-left:10px;
}

.catOption {
    white-space: nowrap;
    margin-left:4px;
}