body {
    box-sizing: border-box;
}
/* Basic styling for the images */
.image-gallery {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding:0;
}
.iDiv {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.iDiv .painting {
    box-sizing: border-box;
    display:block;
    max-width: 100%;
    max-height: 100px;
    margin:auto;
    padding:1px;
    opacity: .8;
    border:2px solid rgba(0,0,0,.5);
}
.iDiv .painting:hover {
    opacity:1;
    border:2px solid white;
}
.remove {
    width:30px;
    height:30px;
    position: absolute;
    top:0; 
    right:0;
    background-color:rgba(0, 0, 0,.5);;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    padding-top:4px;
}
.remove img {
    width:80%;
}

.remove:hover {
    background-color: red;
}
.painting {
}
.reviewer {
    box-sizing: border-box;
    width:50%;
    border:4px solid rgba(0,0,0,.25);
    float:left;
    height: calc(100vh - 200px);
    overflow-y: auto;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.editor {
    box-sizing: border-box;
    width:50%;
    display:inline-block;
    min-height:800px;
    max-height: 800px;
    border-left: none;
    padding-left:22px;
}
.editorPainting {
    max-width:100%;
    max-height: 300px;
}

.reviewer::-webkit-scrollbar {
    width: 24px;
    cursor: pointer;
    user-select: none;
}

.reviewer::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.5);
}

.reviewer::-webkit-scrollbar-thumb {
    background-color: rgb(197, 196, 196);
    border:2px solid black;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}

.reviewer::-webkit-scrollbar-thumb:hover {
    background-color: white;
    border:2px solid black;
    border-radius: 12px;
}

.inputForm {
    padding:20px;
    background-color:rgba(0,0,0,.2);
}

.inputForm label{
    font-size:22px;
    font-weight: bold;
}

.labelTitle {
    font-size:22px;
    font-weight: bold;
    border-bottom:1px solid black;
    margin:0;
    margin-top:14px;
}

.inputForm label.categoryLabel  {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.inputForm input {
    padding:10px;
    font-size:22px;
    border-radius: 8px;
    border: none;
}

.unit {
    font-size:18px;
    font-weight: bold;
    padding-left:8px;
}

.inputItem {
    padding:4px;
    border-bottom:2px dashed black;
}

.jSubmit {
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius:8px;
    background-color:rgb(49, 209, 0);
    margin:8px;
}

.jSubmit:hover {
    background-color: rgb(131, 252, 124);
}

.jSubmitDangerous {
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius:8px;
    background-color:rgba(209, 7, 0,.5);
    margin:8px;
}

.jSubmitDangerous:hover {
    background-color:rgb(209, 7, 0);
    color:white;
    font-weight: bold;
}

.theTitle {
    font-size:24px;
    font-weight: bold;
    text-align: left;
    padding:0;
}

.theTitle {
    padding:0;
    margin:0;
}

.theDate {
    display:flex;
}

.sortFilters {
    list-style: none;
}

.sortFilters li {
    background-color:rgb(192, 192, 192);
    display:inline-block;
    margin:4px;
    padding:4px;
    cursor: pointer;
    user-select: none;
}

.sortFilters li:hover {
    background-color:white;
}

.divider {
    display:block;
    border:2px solid black;
    width:100%;
    min-width:100%;
    box-sizing: border-box;
    font-weight: bold;
    background-color: rgba(0,0,0,.4);
    color:white;
}